.lazyload {
  &-text {
    transition: transform .9s linear 0s, opacity 1.2s linear 0s;

    &:not(.loaded) {
      opacity: 0;
      transform: translateY($translate);
    }

    &.loaded {
      opacity: 1;
      transform: translateY(0);
    }
  }
}