nav {
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all $nav-header-trans-time;

  &.fixed {
    height: $nav-height-fixed;
    background: linear-gradient($nav-grey 0%, transparent 100%);
  }

  &.scrolling {
    height: $nav-height-scroll;
    background: linear-gradient($nav-grey $nav-height-scroll, transparent 100%);
  }

  ol {
    height: 100%;
    max-height: $nav-height-scroll;
    display: flex;
    width: 100%;
    max-width: 960px;
    margin: 0 auto !important;

    li {
      width: 25%;
      display: block;
      height: 100%;
      border-bottom: 0;

      a {
        height: $nav-height-scroll - 1px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: lowercase;
        @include work-sans-500();
        font-size: 16px;
        color: $white;
        position: relative;

        &:before {
          content: '';
          transition: height 400ms;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 0;
          background-color: $white;
        }

        &:hover,
        &.active {
          &:before {
            height: 3px;
          }
        }
      }
    }
  }
}