html, body {
  height: auto;
  min-height: 100vh;
}

body {
  background-color: $background-grey;
  @include tajawal-200();
  font-size: 19px;
  color: $charcoal;

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 21px;
  }
}

body:not(.keyboard-user) {
  *:focus {
    outline: none;
  }
}

.site-wrap {
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  position: relative;
}

#main {
  width: 100%;
  padding-bottom: $y-margin-xs;
  height: auto;
  position: relative;
  /*$t is transparent, $g is light grey*/
  background: repeating-linear-gradient(45deg, $t 0, $t 32px, $g 32px, $g 44px, $t 44px, $t 56px, $g 56px, $g 68px, $t 0),
    repeating-linear-gradient(-45deg, $t 0, $t 32px, $g 32px, $g 44px, $t 44px, $t 56px, $g 56px, $g 68px, $t 0),
    linear-gradient(to bottom left, #fc354c, #0abfbc);

  @include media-breakpoint-up(md) {
    padding-bottom: $y-margin-md;
  }

  .overlay-1, .overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
  }

  > .container > .row {
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }
}

.overlay-1 {
  background: linear-gradient(217deg, $light-blue, $t 70.71%),
    linear-gradient(127deg, $light-yellow, $t 70.71%),
    linear-gradient(336deg, $light-red, $t 70.71%);
}

@keyframes overlay {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.overlay-2 {
  background: linear-gradient(217deg, $light-yellow, $t 70.71%),
    linear-gradient(127deg, $light-red, $t 70.71%),
    linear-gradient(336deg, $light-blue, $t 70.71%);
  animation: overlay 8s infinite;
}

section {
  padding-top: $y-margin-xs;

  @include media-breakpoint-up(md) {
    padding-top: $y-margin-md;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $charcoal;
  @include work-sans-200();
}

h1, .h1 {
  text-transform: lowercase;
  font-size: 34px;
  line-height: 34px;
  margin-bottom: 26px;

  @include media-breakpoint-up(md) {
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 28px;
  }

  @include media-breakpoint-up(lg) {
    font-size: $h1-size;
    line-height: $h1-size;
    margin-bottom: $h1-size - 10px;
  }
}

h2, .h2 {
  text-transform: lowercase;
  font-size: $h1-size - 10px;
  line-height: $h1-size - 10px;
  font-weight: 300;
  margin-bottom: 8px;

  @include media-breakpoint-up(sm) {
    font-size: $h1-size - 4px;
    line-height: $h1-size - 4px;
  }
}

h3, .h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

h4, .h4 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
}

p, .p {
  color: $charcoal;
  margin-bottom: 12px;

  @include media-breakpoint-up(md) {
    margin-bottom: 15px;
  }

  &.subtitle {
    margin-bottom: 24px;
    padding-bottom: 15px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
    border-bottom: 1px solid $border-grey;
  }
}

strong, .strong {
  font-weight: 500;
}

.language {
  background-color: $nav-grey;
}

.tool {
  background-color: $orange;
}

.button {
  @include work-sans-500();
  font-size: 13px;
  line-height: 13px;
  color: $white;
  padding: 4px;
  margin-right: 4px;
  border-radius: 2px;

  &__small {
    font-size: 11px;
    line-height: 11px;
    padding: 3px;
    margin: 0 2px 2px;
  }
}

i.fab {
  color: $nav-grey;
  margin-right: 10px;
  font-size: 24px;
}

a {
  font-weight: 300;
}

a.icon {
  color: $nav-grey;

  i.fab {
    transition: all .3s ease-in-out;
  }

  &:visited {
    i.fab {
      color: $orange;
    }
  }

  &:hover {
    i.fab {
      color: $charcoal;
      text-shadow: $bright-green 2px 1px 1px;
    }
  }

  &:active {
    i.fab {
      color: $bright-green;
      text-shadow: $white 1px 0 10px;
    }
  }
}

#load {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: $white;
  z-index: 2;
  opacity: 1;
  transition: opacity .2s linear;
  display: flex;
  align-items: center;
  justify-content: center;

  &.loaded {
    opacity: 0;
  }
}