// Colors
$background-grey: #dcdbde;
$nav-grey: #697698;
$t: transparent;
$g: rgba(255,255,255,0.7); /*a light grey*/
$light-blue: #9fb2e3;
$light-yellow: rgba(245, 236, 128, 0.8);
$light-red: rgba(204, 106, 69, 0.8);
$charcoal: #4d4d4e;

// Sizes
$nav-height-scroll: 70px;
$nav-height-fixed: $nav-height-scroll + 30px;
$y-margin-xs: 35px;
$y-margin-md: 40px;


// Transitions
$nav-header-trans-time: 500ms;

// Font
$h1-size: 40px;