// Colors
$border-grey: #dcdcdc;
$background-grey: lighten($border-grey, 6%);
$nav-grey: #697698;
$shadow-grey: darken($nav-grey, 30%);
$muted-grey: #979798;
$charcoal: #4d4d4e;
$t: transparent;
$g: rgba(255,255,255,0.7); /*a light grey*/

$orange: #d48264;
$shadow-orange: #ffa500;

$bright-green: #07f53e;
$light-green: lighten($bright-green, 40%);
$purple: #9c08f3;

$light-blue: #9fb2e3;
$light-yellow: rgba(245, 236, 128, 0.8);
$light-red: rgba(204, 106, 69, 0.8);

// Sizes
$nav-height-scroll: 70px;
$nav-height-fixed: $nav-height-scroll + 30px;
$y-margin-xs: 35px;
$y-margin-md: 40px;
$translate: 30px;


// Transitions
$nav-header-trans-time: 500ms;

// Font
$h1-size: 40px;