<section id="about">
  <div class="card">
    <div class="card__container lazyload lazyload-text">
      <h1>About me</h1>
      <p>
        Hello! I'm <strong>Lila Karpowicz</strong>, a web developer.
      </p>
      <p>
        In a past life, I worked as a medical ethics professional, but fell in love with programming when I picked it up as a hobby in 2017.
      </p>
      <p>
        I have since completed a web development bootcamp, worked as a tech support rep, and am now employed as a developer. These days I work mainly with React, Typescript, and Go. Statically-typed languages are my favorite.
      </p>
      <p>
        What I love about development is getting in the zone, learning, and facing new challenges everyday. I have great attention to detail and a knack for creating user-friendly experiences.
      </p>
      <p>
        When I'm not coding, I can be seen mushroom foraging, dancing, reading, or studying history.
      </p>
    </div>
  </div>
</section>