<section id="about" class="card">
  <div class="card__container lazyload lazyload-text">
    <h1>About me</h1>
    <p>
      Hello! I'm <strong>Lila Karpowicz</strong>, a junior front-end web developer.
    </p>
    <p>
      In a past life, I worked as a medical ethics professional, but fell in love with programming when I picked it up as a hobby a couple of years ago.
    </p>
    <p>
      I have since completed a web development bootcamp, and worked as a tech support rep in a startup and as a web developer in a digital marketing agency. I have worked with React, Wordpress, jQuery, and Bootstrap.
    </p>
    <p>
      What I love about development is getting in the zone, learning, and facing new challenges everyday. I have great attention to detail and a knak for creating user-friendly experiences.
    </p>
    <p>
      When I'm not coding, I can be seen mushroom foraging, dancing, or reading (currently catching up on Russian classics).
    </p>
  </div>
</section>