<section id="contact" class="sidebar__content">
  <div class="sidebar__image">
    <img src="../../src/img/profile.jpg">
  </div>
  <div class="card">
    <div class="sidebar__text card__container">
      <h1 class="h2">Lila Karpowicz</h1>
      <p class="subtitle text-muted">junior web developer</p>
      <h2 class="h3">Location</h2>
      <p>
        Victoria, BC
      </p>
      <h2 class="h3">Email</h2>
      <a class="p" href="mailto:contact@karpowicz.dev">
        contact@karpowicz.dev
      </a>
      <h2 class="h3">Follow me</h2>
      <p class="flex">
        <a class="p" href="https://www.linkedin.com/in/lilakar/">
          Linkedin
        </a>
        <a class="p" href="https://github.com/l33loo">
          Github
        </a>
      </p>
    </div>
  </div>
</section>