<section id="contact" class="sidebar__content">
  <div class="sidebar__image">
    <img src="img/profile.jpg">
  </div>
  <div class="card">
    <div class="sidebar__text card__container">
      <h1 class="h2">Lila Karpowicz</h1>
      <p class="subtitle text-muted font-italic">junior web developer</p>
      <div class="row">
        <div class="p col">
          <h2 class="h3">Location</h2>
          <div>
            Victoria, BC
          </div>
        </div>
        <div class="p col">
          <h2 class="h3">Email</h2>
          <a class="contact" href="mailto:contact@karpowicz.dev">
            contact@karpowicz.dev
          </a>
        </div>
        <div class="p col">
          <h2 class="h3">Follow me</h2>
          <div class="flex">
            <a class="icon" href="https://www.linkedin.com/in/lilakar/" target="_blank" title="Linkedin">
              <span class="sr-only">Linkedin</span>
              <i class="fab fa-linkedin-in" aria-hidden="true"></i>
            </a>
            <a class="icon" href="https://github.com/l33loo" target="_blank" title="Github">
              <span class="sr-only">Github</span>
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>