<section id="contact" class="sidebar__content">
  <div class="card card__container">
    <div class="sidebar__image">
      <img data-src="img/profile.jpg" role="presentation">
    </div>
    <div class="sidebar__text">
      <h1 class="h2">Lila Karpowicz</h1>
      <p class="subtitle text-muted">web developer</p>
      <div class="p">
        <h2 class="h3">Location</h2>
        <div>
          <a class="contact" href="https://www.openstreetmap.org/search?query=sao%20miguel%2C%20azores#map=11/37.8086/-25.4951" target="_blank">
            Sao Miguel island, Azores, Portugal
          </a>
        </div>
      </div>
      <div class="row">
        <div class="p col">
          <h2 class="h3">Email</h2>
          <a class="contact" href="mailto:contact@karpowicz.dev">
            contact@karpowicz.dev
          </a>
        </div>
        <div class="p col">
          <h2 class="h3">Github</h2>
          <div class="flex">
            <a class="contact" href="https://github.com/l33loo" target="_blank">
              l33loo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>