<section id="experience" class="card">
  <div class="card__container">
    <h2 class="h1">Experience & Education</h2>
    <div class="element-first">
      <div class="h3">LANGUAGES</div>
      <div>javascript&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9679;&#9675;&#9675;</small></div>
      <div>php&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9675;&#9675;&#9675;</small></div>
      <div>python&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9675;&#9675;&#9675;</small></div>
      <div>html &amp; css&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9679;&#9675;&#9675;</small></div>
    </div>

    <div class="element">
      <div class="h3">FRAMEWORKS ETC.</div>
      <div>react&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9679;&#9675;&#9675;</small></div>
      <div>nodeJS &amp; expressJS&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9675;&#9675;&#9675;</small></div>
      <div>jQuery&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9679;&#9675;&#9675;</small></div>
      <div>symfony&nbsp;&nbsp;&nbsp;<small>&#9679;&#9675;&#9675;&#9675;&#9675;</small></div>
    </div>

    <div class="element">
      <div class="h3">CMS</div>
      <div>wordpress&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9679;&#9675;&#9675;</small></div>
      <div>drupal&nbsp;&nbsp;&nbsp;<small>&#9679;&#9675;&#9675;&#9675;&#9675;</small></div>
    </div>

    <div class="element">
      <div class="h3">DATABASES</div>
      <div>postgreSQL&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9675;&#9675;&#9675;</small></div>
      <div>mongoDB&nbsp;&nbsp;&nbsp;<small>&#9679;&#9675;&#9675;&#9675;&#9675;</small></div>
    </div>

    <div class="element">
      <div class="h3">DEV TOOLS</div>
      <div>git - gitlab - github&nbsp;&nbsp;&nbsp;<small>&#9679;&#9679;&#9679;&#9675;&#9675;</small></div>
      <div>jira - confluence - trello</div>
    </div>
  </div>
</section>