<header id="home">
  <div class="hero parallax-window" data-parallax="scroll" data-image-src="./img/hero.jpg"
       data-speed="0.5" data-position-y="bottom" data-bleed="100" natural-width="3360" natural-height="2243">
  </div>
</header>