<nav>
  <ol class="nav">
    <li><a class="text-center" href="#home">Home</a></li>
    <li><a class="text-center" href="#about">About</a></li>
    <li><a class="text-center" href="#skills">Skills</a></li>
    <li><a class="text-center" href="#experience">Experience</a></li>
  </ol>
</nav>