<nav>
  <button class="nav-button">
    <span class="sr-only">Expand navigation menu</span>
    <i aria-hidden="true">Icon</i>
  </button>
  <ol class="nav d-sm-flex">
    <li><a class="text-center" href="#home">Home</a></li>
    <li><a class="text-center" href="#about">About</a></li>
    <li><a class="text-center" href="#skills">Skills</a></li>
    <li><a class="text-center" href="#experience">Experience</a></li>
    <li class="d-block d-md-none"><a class="text-center" href="#contact">Contact</a></li>
  </ol>
</nav>