<nav>
  <button id="nav-button" class="nav-button fa" aria-expanded="false" aria-haspopup="true" aria-controls="menu">
    <span class="sr-only">Navigation menu toggle</span>
  </button>
  <ol id="nav-menu" class="nav d-sm-flex">
    <li><a class="text-center" href="#home">Home</a></li>
    <li><a class="text-center" href="#about">About</a></li>
    <li><a class="text-center" href="#skills">Skills</a></li>
    <li><a class="text-center" href="#experience">Experience</a></li>
    <li class="d-block d-md-none"><a class="text-center" href="#contact">Contact</a></li>
  </ol>
</nav>