<section id="skills" class="card">
  <div class="card__container">
    <h2 class="h1">My skills</h2>
    <ul class="skills row">

      <% skills.forEach(function(e) { %>
        <li class="skill col-12 col-sm-6 col-md-4">
          <h3 class="skill__title"><%= e.name %></h3>
          <div class="skill__bar">
            <div class="skill__bar-fill lazyload <%= e.type %> p" data-value="<%= e.percentage %>">
              <div class="skill__percent"><%= e.percentage %>%</div>
            </div>
          </div>
        </li>
      <% }); %>

    </ul>
  </div>
</section>