.sidebar {
  &__content {
    margin-bottom: 0;
    margin-top: $y-margin-xs;

    @include media-breakpoint-up(md) {
      position: sticky;
      top: $y-margin-md + $nav-height-scroll;
      margin-bottom: $y-margin-md;
      margin-top: $y-margin-md;
    }

    .card {
      margin: 0;

      &__container {
        font-weight: 300;
      }

      @include media-breakpoint-between(md, lg) {
        &__container {
          padding: 24px;
          font-size: 18px;
        }

        .h2 {
          font-size: 26px;
        }

        .p {
          margin-bottom: 8px;
        }

        p.subtitle {
          font-size: 19px;
          line-height: 19px;
        }
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65%;

    @include media-breakpoint-up(md) {
      padding-bottom: 75%;
    }

    img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    padding: 45px;

    a:not(.icon) {
      color: $charcoal;

      &:hover {
        text-shadow: $bright-green 1px 1px 1px;
      }
    }
  }
}